.header__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    
  }
  header{
    position: relative;
  }
  .header__logo {
    font-size: 1.5rem;
  }
 .nav_menu {  
    display: flex;
    justify-content: center;
    gap:2rem;
    align-items: center;

  }
  .header_icons{
    display: flex;
    justify-content: center;

    align-items: center;
  }

.header__container ul li {
    list-style-type: none;
    margin: 0 10px;
}

.header__container ul li a {
    text-decoration: none;
    color: var(--color);
    font-weight: 700;
    font-size: 1.2rem;
}
.header__container ul li a:hover{
    text-decoration: underline;
}
.header_icons li span {
    font-size: 35px;
    cursor: pointer;
}

.button{
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 2rem;
  color: var(--color);
  cursor: pointer;
  display: none;
}

.button span.rotate {
  transition: transform 0.5s ease;
  transform: rotate(90deg);
}
.close{
  display: none;
}

@media screen and (max-width:992px) {
 .nav_menu.open{

  transform: translateX(0%);
  }
  .nav_menu{
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    width: 100%;
    height: 100vh;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: var(--background);
    bottom: 0;
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;
    overflow: hidden ;
    margin-bottom: 0.3rem;
  }

  .close{
    display: block;
    position: absolute;
    top:1rem;
    right:1rem;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
  }
  .button{
    display: block;
  }


  .header_icons{
    display: none;
  }
}